.SearchBar{
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
}
.SearchBar Logo{
    padding-right: 10px;
}

.SearchBar button{
    border: none;
    cursor: pointer;
}